@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: hsl(244, 38%, 16%);
  width: 111rem;
  height: 44.6rem;
  display: flex;
}

.text-content {
  padding: 7.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading-primary {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.1;
}

.get-insights {
  margin-bottom: 2.5rem;
}

.insights {
  color: hsl(277, 64%, 61%);
}

.description {
  font-size: 1.5rem;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.75;
}

.image-container {
  position: relative;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(171, 92, 219);
  mix-blend-mode: multiply;
  opacity: 0.95;
}

.stats {
  display: flex;
  justify-content: flex-start;
}

.stat {
  margin-right: 6.3rem;
}

.stat-num {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 1rem;
}

.stat-desc {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.2rem;
  color: hsla(0, 0%, 100%, 0.75);
  text-transform: uppercase;
  letter-spacing: 1px;
}
